@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

* {
	font-family: "Ubuntu Condensed", Times, serif;
}

body {
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
}

/* Header */

.header {
	background-color: #5F5F5F;
	overflow: hidden;
	position: fixed;
	top: 0px;
	width: 100%;
}

.header h1 {
	display: inline;
	line-height: 2em;
	font-size: 2em;
	color: white;
	padding-left: 1em;
}

.header h1 a {
	text-decoration: none;
	color: white;
}

.header h1 a:hover {
	color: #A3A3A3;
}

.header ul {
	list-style-type: none; /* No bullet points */
	display: inline;
	float: right;
	font-size: 1em;
	font-family: "Ubuntu Condensed", Times, serif;
	height: 2em;
	line-height: 2em;
	
}

.header li {
	display: inline; /* Adds li items in a horizontal list */
}

.header li a {
	color: white;
	padding: 2em;
	text-decoration: none; /* removes underline from hyperlink */
}

.header li a:hover {
	background-color: #A3A3A3;
}

/* Section */

.section {
	vertical-align: center;
	padding-top: 3em;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	height: 90%;
	max-width: 50%;
}

.section h1 {
	font-size: 6em;
}

.section h2 {
	font-size: 3em;
}

.section h3 {
	font-size: 2em;
}

.section ul {
	list-style-type: none;
	font-size: 2em;
}

}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -4em; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 4em; 
}
.site-footer {
  background: #5F5F5F;
  text-align: center;
}

.site-footer  ul {
	list-style-type: none; /* No bullet points */
	display: inline-block;
	font-size: 1em;
	height: 2em;
	line-height: 2em;
}

.site-footer  li {
	display: inline; /* Adds li items in a horizontal list */
}

.site-footer li a {
	text-decoration: none;
	color: white;
	padding: 1em;
}

.social-logo {
	font-size: 2em;
	color: white;
}

.fa-github:hover {
	color: #A3A3A3;
}

.fa-twitter:hover {
	color: #A3A3A3;
}

.fa-linkedin:hover {
	color: #A3A3A3;
}

form {
	font-size: 1em;
	text-align: left;
}

[type~="text"] input {
	text-align: center;
	width: 50%;
}
